* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: cambria;
    color: #1B2522;
}

.full-screen-header {
    height: 100vh;
    background-image: url('img/home.jpg');
    background-size: cover;
    background-position-x: 40%;
    background-position-y: center;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: relative;
    
            


}

.arrow {
    height: 30px;
    width: 30px;
    position: absolute;
    bottom: 1rem;
    align-self: center;
    background-color: white;

}

.nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: #1B2522;
     padding: .5rem 1rem;
}

.nav-top {
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     z-index: 1;
}

.logo {
    width: 30px;
}

.nav-list {
     margin: 0;
     padding: 0;
     list-style-type: none;
     display: flex;
     
}

.nav-list a {
    margin-left: 1rem;
    text-decoration: none;
    color: white;
}

.nav-list a:hover {
     color: #ccc;
}

.title {
     font-size: 3rem;
     text-align: center;
     margin: 0;
}

.sub-title {
      text-align: center;
      font-size: 1.5rem;
      margin-top: .3rem;
      margin-bottom: 1rem;
}

.btn {
    background-color: hsl(200, 100%, 50%);
    color: white;
    border-radius: 10000000px;
    padding: .25rem 1rem;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-size: inherit;
   

}

.btn1 {
    margin: 0;
    padding: 10px;
    width: 100px;
    align-self: center;
    text-align: center;
}

.btn:hover
.btn:focus {
    background-color: hsl(200, 100%, 40%);
}

.section {
    padding: 2rem ;
}

.section-title {
    margin: 0;
    margin-bottom: 2rem;
    font-size: 2rem;
    text-align: center;
    color: black;
}

.curriculum-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 450px));
    justify-content: center;
    row-gap: 10px;
    column-gap: 50px ;

}

.curriculum-grid-item img {
    width: 50px;
    margin-right: 1rem;
}

.curriculum-grid-item {
    display: flex;
    align-items: center;
}

.section-accent {
    background-color: #0AF;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.free-title {
    color: white;
    margin: 0;
    font-size: 2.5rem;
    text-transform: uppercase ;
}

.free-sub-title {
    color: white;
    max-width: 300px;
}

.form {
    max-width: 900px;
    margin: 0 auto;
}

.form label {
     color: black;
     font-weight: bold;
}

.form input,
.form textarea {
    width: 100%;
    margin-top: .25rem;
    margin-bottom: .75rem;
     outline: none;
     border: 1px solid #1B2522;
     border-radius: .3em;
     color: inherit;
     font-family: inherit;
}

.form textarea {
    resize: vertical;
    min-height: 75px;
    max-height: 200px;
}

.form input:focus,
.form textarea:focus {
     border-color: #0AF;
}

.btn-container {
    text-align: end;
}

.btn-square {
    border-radius: .3em;
}